<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
        <mapper namespace="com.jaso.admin.mapper.AdminMapper">

    <select id="select_adminById"
            parameterType="int"
            resultType="com.jaso.admin.bean.Admin">
        SELECT * FROM admin_info WHERE admin_id = #{value}

    </select>

</mapper>